.social-icons-live {
  border: none !important;
}
.social-sub-icons {
    display: flex;
    gap: 5px;
}
/* .social-icons-live:hover{
    background: transparent;
} */
a.wdt-button.social-icons-live {
    background: none !important;
}
a.wdt-button.social-icons-live {
    padding: 6px 0px !important;
}
span.wdt-button-icon.social-sub-icons {
    margin-left: 0px !important;
}
.wdt-button-holder {
    gap: 10px;
}

.text-number-call{
    font-size: 18px;
}

.subscribe-here {
    width: 100%;
}