.social-icons-live {
  border: none !important;
}
.social-sub-icons {
    display: flex;
    gap: 5px;
}
.social-icons-live:hover{
    background: transparent;
}
a.wdt-button.social-icons-live {
    background: none !important;
}